* {
  font-family:Helvetica, Arial, sans-serif;
}

@keyframes rankChange {
  0% {
    transform: perspective(100vmin) rotateX(0deg);
  }
  50% {
    transform: perspective(100vmin) rotateX(90deg);
  }
  100% {
    transform: perspective(100vmin) rotateX(0deg);
  }
}

.rank-element {
  /* transform: perspective(100vmin) rotateX(160deg); */
  animation: rankChange 2s 1;
}
