@keyframes rankChange {
  0% {
    transform: perspective(100vmin) rotateX(0deg);
  }
  50% {
    transform: perspective(100vmin) rotateX(90deg);
  }
  75% {
    transform: perspective(100vmin) rotateX(90deg);
  }
  100% {
    transform: perspective(100vmin) rotateX(0deg);
  }
}

.myChange {
  transform: perspective(100vmin) rotateX(0deg);
  animation: rankChange 1s 1;
}

.change {
  transition:all 1s ease;  
}
